.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}


.dropbtn {
  background-color:#1d71b8 ;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 100%;
  text-transform: capitalize;
  font-family:ABeeZee,sans-serif;
}
.dropbtn a {
    color: #fff;
}
.avatar{
  font-size: 1.2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 0;
  z-index: 1;
}
.dropdown:hover .dropbtn {
  background-color: #fff;
  color:#000 ;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.bxslider li{
  height: 480px !important;
  width: 100vw !important;
 
}
.bxslider li img{
    height: 100%;
    object-fit: contain;
    width: 100%;
}
.profs .avatar i{
  font-size: 12.5rem;
  color: #a5a4a4;
}
.profile__infos--avatar{
  
}
.profile__infos--avatar img{
 width: 100%;
  
}

